.floor-one-page{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-left: 80px;
    margin-right: 80px;

    .floor-one-page-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px
    }
    

    img{
        width: 1080px;
    }

    .side{
        margin-top: -150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;

        .pagination{

            .first-floor{
                p{
            
                font-family: 'Oswald', sans-serif; 
                font-size: 90pt;
                color: #756b60;
                margin-top: -20%;
                margin-bottom: -20%;
                }

                span{
                    font-family: 'Oswald', sans-serif; 
                    font-weight: 200;
                    font-size: 18pt;
                    color: #756b60;
                    margin-bottom: 10px;
                }
            }
            
        }
        .residential-complex{
            position: fixed;
            top: 80%;
            left: 3.5%;

            p{
                font-family: 'Oswald', sans-serif;
                transform: rotateZ(90deg);
                border: 1px solid #756b60;
                border-radius: 10px;
                padding: 10px;
                color: #756b60;
            }
        }
    }

    .cancel{
        margin-top: -46.5%;
    }



}