.side-eight{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;

    .pagination{

        .first-floor{
            p{
        
            font-family: 'Oswald', sans-serif; 
            font-size: 90pt;
            color: #756b60;
            margin-top: -20%;
            margin-bottom: -20%;
            }

            span{
                font-family: 'Oswald', sans-serif; 
                font-weight: 200;
                font-size: 18pt;
                color: #756b60;
                margin-bottom: 10px;
            }
        }
        
        
    }
    .residential-complex{
            position: fixed;
            top: 80%;
            left: 3.5%;

            p{
                font-family: 'Oswald', sans-serif;
                transform: rotateZ(90deg);
                border: 1px solid #756b60;
                border-radius: 10px;
                padding: 10px;
                color: #756b60;
            }
        }
}

@media all and ((min-width:361px) and (max-width: 376px)) {
    .floor-one-page{
        height: 667px;
        background-color: rgb(255, 255, 255);
    
        .floor-one-page-wrapper{
            padding-top: 120px
        }
        
        img{
            width: 330px;
            margin-top: 80%;
            margin-left: -100%;
        }
    
        .side-eight{
            margin-top: -0px;
            margin-bottom: 50px;
            height: 50vh;
    
            .pagination{
    
                .up-icon{
                    svg{
                        width:50px;
                    }
                }

                .first-floor{
                    margin-top: -90%;
                    margin-bottom: -50%;
                    p{
                    font-family: 'Oswald', sans-serif; 
                    font-size: 40pt;
                    color: #756b60;
                    // margin-top: -90%;
                    // // margin-bottom: -90%;
                    }
    
                    span{
                        font-family: 'Oswald', sans-serif; 
                        font-weight: 200;
                        font-size: 16pt;
                        color: #756b60;
                        // margin-bottom: 10px;
                        // margin-bottom: 90% !important;
                    }
                }
                
            }
            .residential-complex{
                position: fixed;
                top: 80%;
                left: 3.5%;
    
                p{
                    font-family: 'Oswald', sans-serif;
                    // transform: rotateZ(90deg);
                    border: 1px solid #756b60;
                    border-radius: 10px;
                    padding: 10px;
                    color: #756b60;
                }
            }
        }
    
        .cancel{
            margin-top: -160.5%;
            margin-left: -100.5% !important;

        }
    }
}