.floor-one-page{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-left: 80px;
    margin-right: 80px;

    .floor-one-page-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    

    img{
        width: 1080px;
    }

    .side{
        margin-top: -150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;

        .pagination{
            p{
                font-family: 'Oswald', sans-serif; 
                font-size: 90pt;
                color: #756b60;
                margin-top: -20%;
            }

            .anticon, .anticon-up{
                color: #756b60;
               
            }
        }
        .residential-complex{
            margin-top: 50%;

            p{
                font-family: 'Oswald', sans-serif;
                transform: rotateZ(90deg);
                border: 1px solid #756b60;
                border-radius: 10px;
                padding: 10px;
                color: #756b60;
            }
        }
    }

    .cancel{
        margin-top: -45%;
    }

    .flat-links{
        display: flex;
    }

    .floor-one-flat-one{
        position: absolute;
        top: 18.8%;
        left: 24.3%;
    
        img{
            visibility: hidden;
            width: 120px;
        }
    }
    .floor-one-flat-one:hover{
        img{
            visibility: visible;
            width: 120px;

        }
    }
    .floor-one-flat-two{
        position: absolute;
        top: 17.8%;
        left: 28.5%;
    
        img{
            visibility: hidden;
            width: 92px;
        }
    }

    .floor-one-flat-two:hover {
        img{
            visibility: visible;
            width: 92px;

        }
    }

    .floor-one-flat-three{
        // border: 1px solid #000;
        position: absolute;
        top: 17.7%;
        left: 34.6%;

        img{
            visibility: hidden;
            width: 92px;
        }
    }

    .floor-one-flat-three:hover {
        img{
            visibility: visible;
            width: 92px;

        }
    }

    .floor-one-flat-four{
        border: 1px solid #000;
        position: absolute;
        top: 18.4%;
        left: 37.6%;

        img{
            visibility: hidden;
            width: 101px;
        }
    }

    .floor-one-flat-four:hover {
        img{
            visibility: visible;
            width: 101px;

        }
    }

}