.home{
    width: 100%;
    height: 100vh;
    background-image: url('./../../assets/img/building.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    .floors{
        padding-top: 200px;
        padding-left:80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 70vh;

        a{
            // border: 1px solid #000;
            text-decoration: none;
            width: 69%;
        }

        .floor-one{
            margin-bottom: 20px;
            height: 65px;
            margin-top: 15px;
            margin-left: -90px;
            width: 75%;
            background-color: transparent;
            z-index: 1;
            p{
                visibility: hidden;
                text-align: center;
            }
        }

        .floor-one:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 32.5pt;
                }
            }
        }

        .floor-two{
            height: 45px;
            margin-bottom: 0px;
            margin-top: 10px;
            p{
                visibility: hidden;
            }
        }

        .floor-two:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-three{
            height: 45px;
            margin-top: 20px;
            p{
                visibility: hidden;
            }
        }

        .floor-three:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-four{
            margin-bottom: -10px;
            height: 45px;
            margin-top: 10px;
            p{
                visibility: hidden;
            }
        }

        .floor-four:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-five{
            height: 45px;
            margin-top: 10px;
            p{
                visibility: hidden;
            }
        }

        .floor-five:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-six{
            height: 45px;
            margin-top: 5px;
            p{
                visibility: hidden;
            }
        }

        .floor-six:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-seven{
            height: 45px;
            margin-top: 10px;
            p{
                visibility: hidden;
            }
        }
        .floor-seven:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-eight{
            height: 45px;
            margin-top: 10px;
            p{
                visibility: hidden;
            }
        }
        .floor-eight:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }

        .floor-nine{
            height: 45px;
            p{
                visibility: hidden;
            }
        }
        .floor-nine:hover{
            background-color: rgba(255, 255, 255, 0.501);
            p{
                visibility: visible;
                font-family: 'Oswald', sans-serif;
                background-color: #756b60;
                color: rgb(255, 255, 255);
                font-size: 20pt;
                width: 10%;
                margin-left: 100.5%;
                margin-top: 0px;
                span{
                    font-size: 25pt;
                }
            }
        }
        
    }

    .headline{
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        position: relative;
        top: -100px;
        color: rgb(255, 255, 255);

        h1{
            margin: 0;
            padding: 0;
            font-size: 40pt;
            letter-spacing: 0.2em;
        }
        p{
            margin: 0;
            padding: 0;
            font-size: 14pt;
            letter-spacing: 0.1em;
        }
    }
}