.flat-links{
    .floor-one-flat-one{
        // border: 1px solid #000;
        position: absolute;
        top: 22.9%;
        left: 22.5%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 57.9%;
            left: 35.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }
    
        img{
            visibility: hidden;
            width: 120px;
        }
    }
    .floor-one-flat-one:hover{
        img{
            visibility: visible;
            width: 120px;
        }

        .anticon, .anticon-search{
            visibility: visible;
        }
    }
    .floor-one-flat-two{
        // border: 1px solid #000;
        position: absolute;
        top: 21.8%;
        left: 26.9%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 30.9%;
            left: 20.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }
    
        img{
            visibility: hidden;
            width: 92px;
        }
    }

    .floor-one-flat-two:hover {
        img{
            visibility: visible;
            width: 92px;
        }

        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-three{
        // border: 1px solid #000;
        position: absolute;
        top: 21.7%;
        left: 32.9%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 30.9%;
            left: 20.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 92px;
        }
    }

    .floor-one-flat-three:hover {
        img{
            visibility: visible;
            width: 92px;
        }

        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-four{
        // border: 1px solid #000;
        position: absolute;
        top: 23.1%;
        left: 35.5%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 59.9%;
            left: 30.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 102px;
        }
    }

    .floor-one-flat-four:hover {
        img{
            visibility: visible;
            width: 102px;

        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }
    .floor-one-flat-five{
        // border: 1px solid #000;
        position: absolute;
        top: 21.8%;
        left: 42.2%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 17.9%;
            left: 25.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 102px;
        }
    }

    .floor-one-flat-five:hover {
        img{
            visibility: visible;
            width: 102px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }
    .floor-one-flat-six{
        // border: 1px solid #000;
        position: absolute;
        top: 37.6%;
        left: 45.5%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 27.9%;
            left: 25.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 95px;
        }
    }

    .floor-one-flat-six:hover {
        img{
            visibility: visible;
            width: 95px;
        }

        .anticon, .anticon-search{
            visibility: visible;
        }
    }
    .floor-one-flat-seven{
        // border: 1px solid #000;
        position: absolute;
        top: 37.9%;
        left: 51.7%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 27.9%;
            left: 23.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 94px;
        }
    }

    .floor-one-flat-seven:hover {
        img{
            visibility: visible;
            width: 94px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-eight{
        // border: 1px solid #000;
        position: absolute;
        top: 22.7%;
        left: 53.9%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 20.9%;
            left: 35.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 110px;
        }
    }

    .floor-one-flat-eight:hover {
        img{
            visibility: visible;
            width: 110px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-nine{
        // border: 1px solid #000;
        position: absolute;
        top: 22.7%;
        left: 61.2%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 27.9%;
            left: 25.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 124px;
        }
    }

    .floor-one-flat-nine:hover {
        img{
            visibility: visible;
            width: 124px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-ten{
        // border: 1px solid #000;
        position: absolute;
        top: 24.5%;
        left: 66.7%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 37.9%;
            left: 40.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 226px;
        }
    }

    .floor-one-flat-ten:hover {
        img{
            visibility: visible;
            width: 226px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-eleven{
        // border: 1px solid #000;
        position: absolute;
        top: 44.6%;
        left: 70.5%;
        
        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 27.9%;
            left: 30.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        };

        img{
            visibility: hidden;
            width: 135px;
        }
    }

    .floor-one-flat-eleven:hover {
        img{
            visibility: visible;
            width: 135px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }
    .floor-one-flat-twelve{
        // border: 1px solid #000;
        position: absolute;
        top: 55.5%;
        left: 66.9%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 35.9%;
            left: 35.9%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }
        img{
            visibility: hidden;
            width: 167px;
        }
    }

    .floor-one-flat-twelve:hover {
        img{
            visibility: visible;
            width: 167px;
        }

        .anticon, .anticon-search{
            visibility: visible;
        }
    }

    .floor-one-flat-thirteen{
        // border: 1px solid #000;
        position: absolute;
        top: 55.9%;
        left: 58.8%;

        .anticon, .anticon-search{
            visibility: hidden;
            position: absolute;
            top: 47.9%;
            left: 20.5%;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
        }

        img{
            visibility: hidden;
            width: 225px;
        }
    }

    .floor-one-flat-thirteen:hover {
        img{
            visibility: visible;
            width: 225px;
        }
        .anticon, .anticon-search{
            visibility: visible;
        }
    }
}